<h1>Employee's name: <%= @employee.to_s %></h1>
<h4><%= @employee.first_name %>'s 'alias' is: <%= @employee.alias %></h4>
<h4><%= @employee.first_name %>'s title is: <%= @employee.title %></h4>
<h4><%= @employee.first_name %>'s office is located in : <%= @employee.office %></h4>
<h4><%= @employee.first_name %>'s image: <%= image_tag @employee.img_url %></h4>
<h4><%= @employee.first_name %>'s dogs: <%= @employee.dog.name %></h4>
